doctype html

html(lang='fr')
  head
    title
      | D.E.R.P. - #{title}
    meta(charset='utf-8')
    link(rel='stylesheet', type = 'text/css', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', type = 'text/css', href='/stylesheets/style.css')

  body
    block menu

    block content

    hr

    footer
      p
        © D.E.R.P. Project 2013 - Made in France by Christophe CLAVIER, Julien CORNU, Arnaud LEBRETON, Serge HAVAS, Alexis PREMET
