header
  h1 
    a(href = '/') Projet D.E.R.P.
  input(type='button', class='btn btn-info', value = 'Jobs', onclick = 'window.location = "/job"')
  input(type='button', class='btn btn-info', value = 'Workers', onclick = 'window.location = "/worker"')
  input(type='button', class='btn btn-info', value = 'Groupes', onclick = 'window.location = "/groupe"')
  input(type='button', class='btn btn-info', value = 'Utilisateurs', onclick = 'window.location = "/utilisateur"')

