extends ../layout

block menu
  include ../menu

block content
  div#container
    hr
    h2
      | Gestion des jobs
    h3
      | Liste des jobs existants
    hr
    table
      tr
        th
          | Job
        th
          | Status
        td.valid
          input(type = 'button', class="btn btn-info", onclick = 'window.location = "/job/nouveau"', value = 'Créer un job')
      each item in table
        tr
          th
            a(href = '/job/details/#{item.id}') #{item.name}
          td(colspan='2')
            progress(value = '#{item.progress}', max = '100')